/* 시간 관련 버튼 */
.time-button {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    left: 50%;
    /* 컴포넌트 너비 무시 용도 */
    transform: translateX(-50%);
}

.stopwatch-button {
    background-color: #00af37;
    width: 100px;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 1rem;
}
.stopwatch-button:hover {
    background-color: #005f1e;
}

.timer-button {
    background-color: #00af37;
    width: 100px;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}
.timer-button:hover {
    background-color: #005f1e;
}

/* 화살표 스피너 생략 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
